<%= render 'shared/flash_messages' %>
<div class="mx-auto text-center">
  <h1 class="mt-5">BEST BUY COLLECTION</h1>
  <p>BEST BUY COLLECTIONはあなたの買って良かったものを投稿するアプリです。</p>
  <div class="mx-auto text-center">
    <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path,class: 'mt-5 btn btn-success', method: :post %>
  </div>
</div>
<div class="container">
  <div class="row no-gutters">
    <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 mx-auto text-center shadow-lg rounded px-0 my-5">
      <h4 class="text-dark bg-light p-4 mb-0"><strong>投稿一覧</strong></h4>
      <div class="form-body p-4 bg-light">
        <%= render 'items/index', items: @items %>
      </div>
    </div>
  </div>
</div>